.side-bar
  .side-header
    .side-header__top-box
      %p.side-header__top-box__user-name
        = current_user.name
      %ul.side-header__top-box__icons
        %li.side-header__top-box__icons__edit-btn
          = link_to new_group_path do
            %i.fa.fa-edit.fa-fw
        %li.side-header__top-box__icons__setting-btn
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.fa-fw
  .groups
    - current_user.groups.each do |group|
      .gruop-block
        = link_to group_messages_path(group) do
          .gruop-block__name 
            = group.name
          .gruop-block__latest-message 
            まだメッセージがありません
    